/*
stark css by Matthew Gatland

lifting many ideas from Ryan Tomayko ( http://tomayko.com ) 
and Dave Perrett ( http://www.daveperrett.com/ )
...but now modified beyond recognition
*/

body {
	font-size: 24px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: #000;
	line-height: 1.8;
	margin: 0;
}

.bar {
	display: block;
	width: 100%;
	background-color: rgb(54, 33, 9);
	text-align: right;
	color: white;
}

.title {
	display: inline-block;
	margin-right: 90px;
	padding-top: 15px;
	margin-bottom: 15px;
}

nav {
	display: inline-block;
	text-align: left;
	margin-right: 90px;
	margin-top: 15px;
	margin-bottom: 15px;
}

nav a {
	background-color: transparent;
	color: white;
	display: inline-block;
	font-size: 20px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	text-transform: uppercase;
	box-shadow: none;
	border: none;
}

nav a:hover, nav a:active {
	background-color: transparent;
}

/*top bar on narrow screens*/
@media all and (max-width: 799px){
	.bar {
		text-align: center;
	}
	.title {
		display: block;
		margin-right: 0;
	}
	nav {
		text-align: center;
		margin-right: 0;
	}
}


h1, h2, .title {
	font-family: 'PT Serif', serif;
}

h3, .listOfPosts, .subtitle {
/*	font-family: Helvetica, Arial, sans-serif; */
}

h1, h2, h3, .listOfPosts, .subtitle {
	line-height: 1.1;
	position: relative;
	font-weight: normal;
	display: block;
	/* never let long headings widen the page... */
	word-wrap:break-word;

}

.subtitle {
	margin-top: -40px;
	margin-left: 20px;
}

/* always hide links in header */
h1 a, h2 a, h3 a, .listOfPosts a, .title a {
	background-color: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	box-shadow: none;
	border: none;
}

/* always hide links in header */
h1 a:hover, h2 a:hover, h3 a:hover, .listOfPosts a:hover, .title a:hover {
	color: inherit;
}

/* partially hide links in the page header */
header p a {
	background-color: #f9f9f9;
	color: black;
}

/*subtle messages like 'you have reached the last post in my journal' */
.subtle {
	color: #777;
	font-size: 1em;
	margin-top: 40px;
}

.subtle a {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.listOfPosts .date {
	color: #777;
	margin-left: 60px;
}

.homepage h1 {
	font-size: 86px;
}

h1 {
	font-size: 64px;
	margin: 0;
}

h2 {
	font-size: 90px;
	margin-top: 90px
}

h3, .listOfPosts {
	font-size: 38px;
	margin: 40px 0;	
}

header {
	margin: 70px 0;
	text-align: center;
}

header p {
	line-height: 1.4;
	margin: 12px 0 0 0;
	color: #444;
}

p {
	display: block;
	margin: 30px 0;
}

a {
	background-color: #ddd;
	color: #19428A;
	box-shadow: 2px 2px 4px #777;
	border: 1px solid #D4D1D1;
	text-decoration: none;
	padding: 2px 4px;
	transition-property: color;
	transition-duration: 0.2s;
	/*for Safari 6.0: */
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.2s;
}

a:hover, a:active {
	color: #BB4B00;
}

#content {
	max-width: 900px;
	margin: 0 auto;
	padding-left: 8px;
	padding-right: 8px;
}

#content.homepage {
	max-width: 700px;
}

img {
	box-shadow: 2px 2px 4px #777;
	padding: 5px;
	border: 1px solid #ddd;
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 90%;
}

.leftside {
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	margin-right: 40px;
}

.listOfPosts {
	text-align: center;
}

hr {
	border: 1px solid #777;
	background-color: #777;
}

.button {
	display: block;
	margin-bottom: 40px;
	margin-right: 20px;
	padding: 20px;
	width: 280px;
	float: left;
}

.button h2 {
	font-size: 24px;
	line-height: 26px;

	margin-top: 15px;
	margin-bottom: 0px;
	text-align: center;
}

@media all and (max-width: 712px){
	.button {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

.button img {
	width: 105px;
	height: 105px;
}

.button .leftside {
	margin-right: 20px;
}

/*subtle link background for huge buttons */
a.button {
	background-color: #f4f4f4;
	color: black;
}

/*the button's hover color is less intense, to compensate for it's huge size */

a.button:hover, a.button:active {
	background-color: #ccc;
	color: #333;
}

.journal {
	margin-bottom: 60px;
}

.journal h2 {
	margin-bottom: 9px;
}

.disabled-link {
	background-color: #ddd;
	color: #bbb;
	text-decoration: none;
	padding: 2px 4px;
}

.subtle .disabled-link {
	background-color: #f9f9f9;
	color: #bbb;
	text-decoration: none;
	padding: 2px 4px;
}

footer {
	margin-top: 25px;
}

blockquote {
	border: 2px dashed #ccc;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
}

.w640 {
	width: 640px;
}

.beside {
	height: 210px;
	min-width: 250px;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
}

code {
	display: inline-block;
	white-space: pre;
	background-color: #DFDFDF;
	box-shadow: 2px 2px 4px #777;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #ddd;
	max-width: 90%;
	overflow-x: auto;
}

/*huge headings must shrink on narrow screens,
or the long words don't fit on the screen! 

Let's also shrink the body font size a little.
*/
@media all and (max-width: 499px){
	.homepage h1 {
		font-size: 66px;
	}
	h2 {
		font-size: 50px;
	}
	body {
		font-size: 18px;
	}
	/*home page layout, remove columns*/
	.leftside {
		display: block;
		float: none;
		margin: 0 auto;
	}
	.beside {
		text-align: center;
		height: auto;
	}
}
