/*
stark css by Matthew Gatland

lifting many ideas from Ryan Tomayko ( http://tomayko.com ) 
and Dave Perrett ( http://www.daveperrett.com/ )
...but now modified beyond recognition
*/

body {
	font-size: 24px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: #382B45; /*almost black*/
	line-height: 1.5;
	margin: 0;
}

/*nav bar*/

.bar {
	display: block;
	width: 100%;
	background-color: #4D547C;
	text-align: right;
	color: white;
}

.title {
	display: inline-block;
	float: left;
	margin-left: 80px;
	margin-right: 80px;
	padding-top: 15px;

}

nav {
	display: inline-block;
	text-align: left;
	margin-right: 90px;
	margin-top: 15px;
	margin-bottom: 15px;
}

nav a {
	/*resets*/
	background-color: transparent;
	border: none;
	color: inherit;
	box-shadow: none;

	color: white;
	display: inline-block;
	font-size: 20px;
	line-height: 24px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	text-transform: uppercase;
}

nav a:hover, nav a:active {
	color: #FFC595;
}

/*headers*/

h1, h2, .title {
	font-family: 'PT Serif', serif;
}

h1, h2, h3, .listOfPosts, .subtitle {
	line-height: 1.1;
	position: relative;
	font-weight: normal;
	display: block;
	/* never let long headings widen the page... */
	word-wrap:break-word;
}

h1 {
	font-size: 64px;
	margin: 0;
}

.homepage h1 {
	font-size: 86px;
}

h2 {
	font-size: 90px;
	margin-top: 90px;
	margin-bottom: 9px;
}

h3, .listOfPosts {
	font-size: 38px;
	margin: 40px 0;	
}

/* use to put a subtitle below an h3 heading in a blogpost.*/
.subtitle {
	margin-top: -40px;
	margin-left: 20px;
}

/* always hide links in header */
h1 a, h2 a, h3 a, .listOfPosts a, .title a {
	background-color: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	box-shadow: none;
	border: none;
}

/* always hide links in header */
h1 a:hover, h2 a:hover, h3 a:hover, .listOfPosts a:hover, .title a:hover {
	color: inherit;
}

/*subtle messages like 'you have reached the last post in my journal' */
.subtle {
	color: #777;
	font-size: 1em;
	margin-top: 40px;
}

.subtle a {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.listOfPosts .date {
	color: #777;
	margin-left: 60px;
}

header {
	margin: 70px 0;
	text-align: center;
}

p {
	display: block;
	margin: 30px 0;
	vertical-align:middle;
}

a {
	text-decoration: none;
	color: #19428A;
	background-color: #ddd;
	box-shadow: 2px 2px 4px #777;
	border: 1px solid #D4D1D1;
	padding: 2px 4px;
	transition-property: color;
	transition-duration: 0.2s;
	/*for Safari 6.0: */
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.2s;
}

a:hover, a:active {
	color: #BB4B00;
}

.content {
	max-width: 900px;
	margin: 0 auto;
	padding-left: 8px;
	padding-right: 8px;
}

.content.homepage {
	max-width: 700px;
}

img {
	box-shadow: 2px 2px 4px #777;
	padding: 5px;
	border: 1px solid #ddd;
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 90%;
}

.leftside {
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	margin-right: 40px;
}

.listOfPosts {
	text-align: center;
}

hr {
	border: 1px solid #777;
	background-color: #777;
}

.button h2 {
	font-size: 24px;
	line-height: 26px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.button img {
	width: 210px;
	height: 210px; /*must override in situations where image resizes*/
	margin-bottom: 10px;
}

/*links on huge buttons.*/
a.button {
	/*resets*/
	background-color: transparent;
	border: none;
	color: inherit;
	box-shadow: none;

	/*buttonize*/
	display: block;
	float: left;
	padding: 20px;
	text-align: center;
	width: 310px;

	transition-property: background-color;
	transition-duration: 0.4s;
	/*for Safari 6.0: */
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.4s;
}

a.button:hover, a.button:active {
	background-color: #ccc;
	color: #333;
}

@media all and (max-width: 732px){
	a.button {
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: auto;
	}
	.button img {
		/*images might resize their width, so height must change to match*/
		height: auto;
	}
}

.journal {
	margin-bottom: 60px;
}

.disabled-link {
	background-color: #ddd;
	color: #bbb;
	text-decoration: none;
	padding: 2px 4px;
}

footer {
	margin-top: 25px;
	margin-bottom: 15px;
}

blockquote {
	border: 2px dashed #ccc;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
}

.w640 {
	width: 640px;
}

.beside {
	height: 210px;
	min-width: 250px;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
}

/*place on a <p>, below an image that's inside a <p>*/
.caption {
	margin-top: -55px;
	font-size: 0.8em;
}

code {
	color: #e6db74;
	background-color: #2E2C2C;
	box-shadow: 2px 2px 4px #777;
	white-space: pre;
	max-width: 90%;
	overflow-x: auto;
	font-size: 20px; /*so 80 characters fit on a line*/

	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

pre code {
	display: inline-block;
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px; /*so 80 characters fit on a line*/
}

/*huge headings must shrink on narrow screens,
or the long words don't fit on the screen! 

Let's also shrink the body font size a little.

Also shrink navbar and introduce line-break in the links
*/
@media all and (max-width: 499px){
	.homepage h1 {
		font-size: 66px;
	}
	h2 {
		font-size: 50px;
	}
	body {
		font-size: 18px;
	}

	/*navbar*/
	nav a {
		font-size: 14px;
		margin: 0px;
	}
}

@media all and (max-width: 549px) {
	/*home page layout, remove columns*/
	.leftside {
		display: block;
		float: none;
		margin: 0 auto;
	}
	.beside {
		text-align: center;
		height: auto;
	}
}

/*nav bar on narrow screens*/
@media all and (max-width: 849px){
	.bar {
		text-align: center;
	}
	.title {
		display: block;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	nav {
		text-align: center;
		margin-right: 0;
		margin-top: 0;
	}
}
