/*
stark css by Matthew Gatland

lifting many ideas from Ryan Tomayko ( http://tomayko.com ) 
and Dave Perrett ( http://www.daveperrett.com/ )

*/

body {
	font-size: 24px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: #000;
	line-height: 1.8;
}

h1, h2, h3, .listOfPosts {
	line-height: 1.1;
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	/*letter-spacing:  -0.03em;*/
	font-weight: normal;
	display: block;
}

/* always hide links in header */
h1 a, h2 a, h3 a, .listOfPosts a {
	background-color: transparent;
	color: black;
	padding: 5px 10px;
	margin-left: -10px;
}

/* partially hide links in the page header */
header p a {
	background-color: #f9f9f9;
	color: black;
}

.subtitle {
	margin-top: -40px;
	margin-left: 20px;
	font-family: Helvetica, Arial, sans-serif;
}

/*subtle messages like 'you have reached the last post in my journal' */
.subtle {
	color: #777;
	font-size: 1em;
	margin-top: 40px;
}

.subtle a {
	background-color: #f9f9f9;	
}

.listOfPosts .date {
	color: #777;
	margin-left: 60px;
}

.homepage h1 {
	font-size: 86px;
}

h1 {
	font-size: 64px;
	margin: 0;
}

h2 {
	font-size: 48px;
	margin: 28px 0;
}

h3, .listOfPosts {
	font-size: 38px;
	margin: 40px 0;	
}

header {
	margin: 70px 0;
	text-align: center;
}

header p {
	line-height: 1.4;
	margin: 12px 0 0 0;
	color: #444;
}

p {
	display: block;
	margin: 30px 0;
}

a {
	background-color: #ddd;
	color: #555;
	text-decoration: none;
	padding: 2px 4px;
	border-radius: 3px;
	transition-property: background-color;
	transition-duration: 0.4s;
	/*for Safari 6.0: */
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.4s;
}

a:hover, a:active {
	background-color: #444;
	color: #eee;
}

#content {
	max-width: 900px;
	margin: 0 auto;
}

#content.homepage {
	max-width: 700px;
}

img {
	box-shadow: 2px 2px 4px #777;
	padding: 5px;
	border: 1px solid #ddd;
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
}

.leftside {
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	margin-right: 40px;
}

.listOfPosts {
	text-align: center;
}

hr {
	border: 1px solid #777;
	background-color: #777;
}

.button {
	display: block;
	margin-bottom: 40px;
	padding: 40px;
}

.button h2 {
	margin-top:58px;
}

/*subtle link background for huge buttons */
a.button {
	background-color: #f4f4f4;
	color: black;
}

/*the button's hover color is less intense, to compensate for it's huge size */

a.button:hover, a.button:active {
	background-color: #ccc;
	color: #333;
}

.subtle a:hover, .subtle a:active {
	background-color: #777;
	color: #333;
}

.journal {
	margin-top: 60px;
	margin-bottom: 60px;
}

.journal h2 {
	margin-bottom: 9px;
}

.disabled-link {
	background-color: #ddd;
	color: #bbb;
	text-decoration: none;
	padding: 2px 4px;
	border-radius: 3px;
}

.subtle .disabled-link {
	background-color: #f9f9f9;
	color: #bbb;
	text-decoration: none;
	padding: 2px 4px;
	border-radius: 3px;
}