---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Loose Leaf Games - About Us
</title>
<meta name="description" content="Loose Leaf Games, an independent game development company based in New Zealand.
"/>
<meta name="keywords" content="Loose Leaf Games, Loose Leaf, Loose Leaf Studios, Loose Leaf Productions, Loose Leaf Team
"/>
<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />

</head>
<body>
<div id="page">
	<div id="header"><img src="images/header.png" width="770" height="115" alt="Loose Leaf Games" title="Loose Leaf Games"/></div>
	<div id="content">
		<div id="navout">	
			<div id="navigation">
         <style>
<!--
#navigation li a.navabout {
	color: #FFFFFF;
	background: #8eb282;
	border-left: 2px solid #5e7656;
	border-right: 2px solid #5e7656;
	border-top: 2px solid #5e7656;
	}
-->
</style>
		
			<ul>

			  <li><a href="index.html" class="navindex">Home</a></li>
			  <li><a href="games.html" class="navgames">Games</a></li>
			  <li><a href="info.html" class="navinfo">Info</a></li>
			  <li><a href="contact.html" class="navcontact">Contact</a></li>
			  <li><a href="about.html" class="navabout">About Us</a></li>
			</ul>
		
			</div>
		</div>
	
			<div id="post">
	
				<h1 class="headerstyle">About Loose Leaf Games</h1>

<p>Loose Leaf Games formed in December 2005.
Matthew and Alice, a brother and sister team, decided
 to combine their talents and start producing great
games to entertain people all over the world.</p>

<p>We are working on many different types of games
 instead of choosing one style straight away. Puzzle, action,
 and adventure games are some of the projects we have planned.
 We try to make games that are fun for both experienced gamers
 and for people who only play occasionally.</p>

<p>We are dedicated to our customers.
 You are the reason we can afford to spend our time
doing what we love - making games. That's why
 we have a money back guarantee on all of our
 products. We will also attempt to solve any problems
 you have; simply <a href="contact.html">contact us</a>.</p>
 
 <h2>Credits</h2>
 
 <p>The Loose Leaf  Games website is based on a design by <a href="http://www.andrewstrojny.com/">andrewstrojny</a>.</p>

			</div>
      {% include looseleafgames/sidebar.html %}

	</div>
		
		<div id="footer">	
			<img src="images/footer.png" width="770" height="40" alt=""/>	
				<p>Copyright &copy; 2006 Loose Leaf Games. </p>
				<p><a href="privacy.html">Privacy Policy</a></p>
		</div>
</div>
{% include analytics.html %}
</body>
</html>
