---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Loose Leaf Games - Contact Information
</title>
<meta name="description" content="Loose Leaf Games, Contact Information.
"/>
<meta name="keywords" content="Contact Loose Leaf Games, email loose leaf games, Feedback, Fanmail, Loose Leaf Games News
"/>
<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />

</head>
<body>
<div id="page">
	<div id="header"><img src="images/header.png" width="770" height="115" alt="Loose Leaf Games" title="Loose Leaf Games"/></div>
	<div id="content">
		<div id="navout">	
			<div id="navigation">
         <style>
<!--
#navigation li a.navcontact {
	color: #FFFFFF;
	background: #8eb282;
	border-left: 2px solid #5e7656;
	border-right: 2px solid #5e7656;
	border-top: 2px solid #5e7656;
	}
-->
</style>
		
			<ul>

			  <li><a href="index.html" class="navindex">Home</a></li>
			  <li><a href="games.html" class="navgames">Games</a></li>
			  <li><a href="info.html" class="navinfo">Info</a></li>
			  <li><a href="contact.html" class="navcontact">Contact</a></li>
			  <li><a href="about.html" class="navabout">About Us</a></li>
			</ul>
		
			</div>
		</div>
	
			<div id="post">
	
				<h1 class="headerstyle">Contact Us</h1>

<p>The Loose Leaf Games team love hearing from our customers, whether it's
feedback, requests for help, or anything else.</p>

<p>After you click the 'Send Message' button, you will be taken to a page
 confirming that your message was sent. This may take a few seconds.</p>

<form>
<input type="hidden" name="subject" value="Contact Form Submission" />
<input type="hidden" name="redirect" value="contact_thankyou.html" />
<p>Name: <input type="text" name="FirstName" /></p>
<!-- <p>Last Name:<input type="text" name="LastName" /></p> -->
<p>email:  <input type="text" name="email" /></p>
<p>Comments:<textarea name="comments" cols="40" rows="10">
Type your comment here.</textarea></p>
<p><input type="SUBMIT" value="Send Message" onClick="alert('Sorry, this form does not work any more. If you want to contact me, please search for me on twitter.'); return false;"></p>
</form>

{% include 'looseleafgames/newsletter.txt' %}

			</div>
      {% include 'looseleafgames/sidebar.html' %}

	</div>
		
		<div id="footer">	
			<img src="images/footer.png" width="770" height="40" alt=""/>	
				<p>Copyright &copy; 2006 Loose Leaf Games. </p>
				<p><a href="privacy.html">Privacy Policy</a></p>
		</div>
</div>
{% include 'analytics.html' %}
</body>
</html>
