---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Loose Leaf Games - Our Games List
</title>
<meta name="description" content="Games at Loose Leaf Games, featuring Merlin's Chest, a puzzle game for all ages.
"/>
<meta name="keywords" content="Merlin's Chest, Wizard's Chest, Treasure, puzzle adventure
"/>
<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />

</head>
<body>
<div id="page">
	<div id="header"><img src="images/header.png" width="770" height="115" alt="Loose Leaf Games" title="Loose Leaf Games"/></div>
	<div id="content">
		<div id="navout">	
			<div id="navigation">
         <style>
<!--
#navigation li a.navgames {
	color: #FFFFFF;
	background: #8eb282;
	border-left: 2px solid #5e7656;
	border-right: 2px solid #5e7656;
	border-top: 2px solid #5e7656;
	}
-->
</style>
		
			<ul>

			  <li><a href="index.html" class="navindex">Home</a></li>
			  <li><a href="games.html" class="navgames">Games</a></li>
			  <li><a href="info.html" class="navinfo">Info</a></li>
			  <li><a href="contact.html" class="navcontact">Contact</a></li>
			  <li><a href="about.html" class="navabout">About Us</a></li>
			</ul>
		
			</div>
		</div>
	
			<div id="post">
	
				<h1 class="headerstyle">Our Games</h1>

{% include 'looseleafgames/games/trailbay/short.txt' %}

<h1>Other Games</h1>

<p>When we're not making games, we're busy playing them.
 Here are some of our favourite games made by other
 independent developers.</p>

{% include 'looseleafgames/games/professorfizzwizzle/short.txt' %}
{% include 'looseleafgames/games/cuteknight/short.txt' %}
{% include 'looseleafgames/games/platypus/short.txt' %}
{% include 'looseleafgames/newsletter.txt' %}

			</div>
	</div>
		
		<div id="footer">	
			<img src="images/footer.png" width="770" height="40" alt=""/>	
				<p>Copyright &copy; 2006 Loose Leaf Games. </p>
				<p><a href="privacy.html">Privacy Policy</a></p>
		</div>
</div>
{% include 'analytics.html' %}
</body>
</html>
