---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Loose Leaf Games
</title>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
<meta http-equiv="refresh" content="3;URL=http://matthewgatland.com/games/trail-bay/trail-bay-demo.exe"/>
</head>
<body>
<div id="page">
	<div id="header"><img src="images/header.png" width="770" height="115" alt="Loose Leaf Games" title="Loose Leaf Games"/></div>
	<div id="content">
		<div id="navout">	
			<div id="navigation">
         		
			<ul>

			  <li><a href="index.html" class="navindex">Home</a></li>
			  <li><a href="games.html" class="navgames">Games</a></li>
			  <li><a href="info.html" class="navinfo">Info</a></li>
			  <li><a href="contact.html" class="navcontact">Contact</a></li>
			  <li><a href="about.html" class="navabout">About Us</a></li>
			</ul>
		
			</div>
		</div>
	
			<div id="post">
	
				<h1 class="headerstyle">Downloading</h1>

<p>Your download should begin automatically.</p>
<!--<p>If it does not, click <a href="downloads/${safegame}.exe">here</a> to download.</p>-->
<p>If it does not, click <a href="http://matthewgatland.com/games/trail-bay/trail-bay-demo.exe">here</a> to download.</p>

			</div>
      {% include looseleafgames/sidebar.html %}

	</div>
		
		<div id="footer">	
			<img src="images/footer.png" width="770" height="40" alt=""/>	
				<p>Copyright &copy; 2006 Loose Leaf Games. </p>
				<p><a href="privacy.html">Privacy Policy</a></p>
		</div>
</div>
{% include analytics.html %}
</body>
</html>
