body, html {
	text-align: center;
	font-family: monospace;
	font-size: 20px;
}

.stockToggles {
	display: flex;
	width:600px;
	margin: auto;
	flex-wrap: wrap;
}

.row {
	display: block;
	border: 2px solid grey;
	box-sizing: border-box;
	width:300px;
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
}

.stockCode {
	display: inline-block;
	margin: 5px;
}

button {
	display: inline-block;
	margin: auto;
	border: 2px solid black;
	border-right: none;
	background-color: aliceblue;
	padding: 10px;
}

button.sell {
	border-right: 2px solid black;
}

.key {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid black;
	box-sizing: border-box;
}

.buyAmount {
	width:50px;
}