[submodule "games/tide"]
	path = games/tide
	url = git://github.com/mgatland/tide
[submodule "games/takedown/play"]
	path = games/takedown/play
	url = git://github.com/mgatland/takedown.git
[submodule "games/cerulean"]
	path = games/cerulean
	url = git://github.com/mgatland/cerulean2/
[submodule "games/tide2"]
	path = games/tide2
	url = http://www.github.com/mgatland/tide
