html, body { 
	margin: 0; 
	background-color: black;
 	width:  100%;
  	height: 100%;
  }

.gameCanvas {
	display:block;
	background-color: #E8E8E7;
	height: 100%;
	margin: auto;
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: crisp-edges;               // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE (non standard naming)
}

/*the .portrait and .landscape class are added dynamically by javascript 
Just set width and height on the canvas in the html
err but the css is the same, except the aspect ratio
*/
@media screen and (max-aspect-ratio: 9/16) {
	/*too narrow for portrait*/
	.gameCanvas.portrait {
		height: auto;
		width:100%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

@media screen and (max-aspect-ratio: 16/9) {
	/*too narrow for landscape*/
	.gameCanvas.landscape {
		height: auto;
		width:100%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}