.gamecontainer {
	margin-top: 128px;
}

canvas {
	border: 4px solid #8598FF;
}

body {
	background-color: black;
	color: #8598FF;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	text-align: center;
}

.hide {
	display: none;
}

input {
	background-color: #8598FF;
	color: black;
	padding: 6px;
	border: none;
	border-left: 6px solid #B2FFFF;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	font-weight: bold;
}

#connect-button {
	color: #8598FF;
	border: 1px solid #8598FF;
	padding: 6px;
	text-transform: uppercase;
}

#connect-button:hover {
	background-color: #8598FF;	
	color: white;
}

a, a:visited {
	color: #8598FF;
	text-decoration: none;
}
a:hover {
	color: #B2FFFF;
};