{% for category in site.categories %}
    {% assign catg_name = category.first %}
    {% if catg_name == page.categories.first %}
        {% assign catg_posts = category.last %}
    {% endif %}
{% endfor %}
{% for post in catg_posts %}
    {% if post.title == page.title and post.date == page.date %}
        {% unless forloop.last %}
            {% assign plus_one = catg_posts[forloop.index] %}
        {% endunless %}
        {% unless forloop.first %}
        	{% assign minus_one = prev %}
        {% endunless %}
    {% endif %}
    {% assign prev = post %}
{% endfor %}
