{% if page.categories contains 'journal' %}
	{% if page.previous.categories contains 'journal' and page.next.categories contains 'journal' %}{% comment %} this is a possibly unneeded performance optimisation for the simple case{% endcomment %}
		{% assign plus_one = page.previous %}
		{% assign minus_one = page.next %}
	{% else %}
		{% for page2 in site.categories.journal %}
			{% if found == 'true' %}
				{% assign plus_one = page2 %}
				{% assign found = 'false' %}
			{% endif %}
			{% if page2.title == page.title and page2.date == page.date %}
				{% assign found = 'true' %}
				{% assign minus_one = temp_minus_one %}
			{% endif %}
			{% assign temp_minus_one = page2 %}
		{% endfor %}
	{% endif %}

{% endif %}
