<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.url }}/css/stark.css" />
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.png" />
{% include analytics.html %}
</head>
<body>
	<section id="content" {% if page.ishomepage != nil %}class="homepage"{% endif %}>
		<header>
			{% if page.ishomepage == nil %}
			<h1>{{page.title}}</h1>
			<p><a href="/">Matthew Gatland</a></p>
			<p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
			{% else %}
				<h1>{{page.title}}</h1>
			{% endif %}
		</header>
{{content}}

{% include previousjournal.html %}
	<hr>
{% include footer.html %}
	</section>
</body>
</html>