<hr>
<footer>
{% if page.categories.size > 0 %}
	<a href="{{ site.url }}/">Home</a>
	<span class="subtle">&rarr;</span> 
	<a href="{{ site.url }}/{{ page.categories[0] }}/">{{ page.categories[0] | capitalize }}</a>
{% else %}
  {% if page.ishomepage == nil %}
  	<a href="{{site.url}}/">Home</a>
  	<span class="subtle">&rarr;</span> 
	<span class="subtle">{{page.title}}</span>
  {% else %}
	<a href="{{site.url}}/games/">Games</a>
	<a href="{{site.url}}/writing/">Writing</a>
	<a href="{{site.url}}/journal/">Journal</a>
  {% endif %}
{% endif %}
</footer>