<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  {% if page.rss %}<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}{{ page.rss }}" />{% endif %}
  <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.url }}/css/stark.css" />
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico" />
  <meta name="viewport" content="width=device-width">
{% include analytics.html %}
</head>