<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  {% if rss %}<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ rss }}" />{% endif %}
  <link href='//fonts.googleapis.com/css?family=PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/stark.css" />
  <link rel="stylesheet" href="/css/pygment.css" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width">
  {% if page.cardimage %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@mgatland">
  <meta name="twitter:title" content="{{ page.data.title }}">
  <meta name="twitter:image" content="{{ site.url }}/{{ page.cardimage }}">
  {% endif %}
{% include 'analytics.html' %}
</head>