body {
	background-color: black;
	color: #5DE100;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 18px;
}

a {
	color: #ff0f0f;
}

#gamecontainer {
	position: absolute;
	top:0;
	left:0;
}

#gamecontainer canvas, #gamecontainer #messages {
	position: absolute;
}
