{% include part-above-body.html %}
<body>
	<section id="content">
  <header class="smallheader">
    <span class="subtle"><a href="{{site.url}}/">{{site.title}}</a></span>
  </header>
  <div class="journal">
	{% include calculate-journal-links.html %}
  	<hr>
    <div>
    	<h2>{{ page.title }}</h2>
    	<span class="subtle">{{ page.date | date: "%B&nbsp;%d,&nbsp;%Y" }}</span>
    </div>
    <hr>
    {{ content }}
  </div>
	<footer>
	{% include journal-links.html %}
	{% include footer.html %}
	</footer>
</section>
</body>
</html>